#timer {
  font-size: 0;
  width: 100%;
  display: block;
  text-align: center;
  span {
    font-size: 120px;
    display: inline-block;
    word-spacing: normal;
    letter-spacing: normal;
  }
}
#start-cycle-form, #start-break-form, #finish-cycle-form, #finish-break-form {
  width: 70%;
  font-size: 25px;
  margin-left: 5%;

  label {
    font-size: 25px;
  }

  input, select, textarea {
    font-size: 18px;
    padding: 8px;
  }

  input[type=submit] {
    margin-top: 20px;
    padding: 10px;
    font-size: 25px;
  }

  select {
    height: 50px;
    &:-moz-focusring, &::-moz-focus-inner {
      outline: 0;
      color:transparent;
      text-shadow:0 0 0 #000;
    }
  }
}

.category {
  text-align: center;
  padding: 5px 0;
}

#cycles {
  margin: 40px auto 0 auto;
  width: 90%;
  border: none;
  tr {
    border: none;
    border-top: 1px solid black;
  }

  tr:last-child {
    border-bottom: 1px solid black;
  }

  .true {
    color: white;
  }

  .false {
    color: black;
  }
}