#timer {
  font-size: 0;
  width: 100%;
  display: block;
  text-align: center;
  span {
    font-size: 120px;
    display: inline-block;
    word-spacing: normal;
    letter-spacing: normal;
  }
}
#start-cycle-form, #start-break-form, #finish-cycle-form, #finish-break-form {
  width: 70%;
  font-size: 25px;
  margin-left: 5%;

  input.btn {
    font-size: 30px;
  }

  label {
    font-size: 30px;
  }

  input, select, textarea {
    font-size: 22px;
    padding: 10px;
  }

  input[type=submit] {
    margin-top: 30px;
    padding: 15px;
  }

  select {
    height: 60px;
    &:-moz-focusring, &::-moz-focus-inner {
      outline: 0;
      color:transparent;
      text-shadow:0 0 0 #000;
    }
  }
}