#timer {
  font-size: 0;
  width: 100%;
  display: block;
  text-align: center;
  span {
    font-size: 120px;
    display: inline-block;
    word-spacing: normal;
    letter-spacing: normal;
  }
}
#start-cycle-form, #start-break-form, #finish-cycle-form, #finish-break-form {
  width: 70%;
  font-size: 25px;

  input.btn {
    font-size: 20px;
  }

  input, select, textarea {
    font-size: 20px;
  }
}